In [ ]:
#Task1: Create three dataframes and save them as .csv files

In [11]:
import pandas as pd

# Create dataframes from the given data
project_df = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005', 'A002', 'A005', 'A003', 'A001', 'A003', 'A001', 'A004', 'A004', 'A005'],
    'Project': ['Project 1', 'Project 2', 'Project 3', 'Project 4', 'Project 5', 'Project 6', 'Project 7', 'Project 8', 'Project 9', 'Project 10', 'Project 11', 'Project 12', 'Project 13', 'Project 14'],
    'Cost': [1002000, 2000000, 4500000, 5500000, 680000, 400000, 350000, 300000, 2000000, 1000000, 3000000, 2000000, 2000000, 3000000],  # Corrected length
    'Status': ['Finished', 'Ongoing', 'Finished', 'Ongoing', 'Finished', 'Failed', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Failed', 'Ongoing', 'Finished', 'Finished']
})

employee_df = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxumberg', 'Tom', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
})

seniority_df = pd.DataFrame({
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level': [2, 2, 3, 2, 3]
})

# Save dataframes to CSV files 
project_df.to_csv('project.csv', index=False)
employee_df.to_csv('employee.csv', index=False)
seniority_df.to_csv('seniority.csv', index=False)

# Print the entire Project Dataframe 
print("Project DataFrame:")
print(project_df) 

# Print the first few rows of the other dataframes
print("\nEmployee DataFrame:")
print(employee_df.head())
print("\nSeniority DataFrame:")
print(seniority_df.head())

print("DataFrames saved to CSV files.")

Project DataFrame:
      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5   680000  Finished
5   A002   Project 6   400000    Failed
6   A005   Project 7   350000  Finished
7   A003   Project 8   300000    Failed
8   A001   Project 9  2000000   Ongoing
9   A003  Project 10  1000000  Finished
10  A001  Project 11  3000000    Failed
11  A004  Project 12  2000000   Ongoing
12  A004  Project 13  2000000  Finished
13  A005  Project 14  3000000  Finished

Employee DataFrame:
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003              Tom      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

Seniority DataFrame:
     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3
DataFrames saved to CSV files.

In [ ]:
#Task 2: Replace the missing values by running average

In [13]:
project_df = pd.read_csv('project.csv')

# Calculate the mean cost 
mean_cost = project_df['Cost'].mean()

# Replace missing values with the mean 
for i in range(len(project_df)):
    if pd.isna(project_df.loc[i, 'Cost']):
        project_df.loc[i, 'Cost'] = mean_cost

# Save the updated dataframe 
project_df.to_csv('project.csv', index=False)

# Print the update dataframes 
print("Updated Project DataFrame:")
print(project_df)

print("Missing values in Project Cost replaced with mean.")

Updated Project DataFrame:
      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5   680000  Finished
5   A002   Project 6   400000    Failed
6   A005   Project 7   350000  Finished
7   A003   Project 8   300000    Failed
8   A001   Project 9  2000000   Ongoing
9   A003  Project 10  1000000  Finished
10  A001  Project 11  3000000    Failed
11  A004  Project 12  2000000   Ongoing
12  A004  Project 13  2000000  Finished
13  A005  Project 14  3000000  Finished
Missing values in Project Cost replaced with mean.

In [ ]:
#Task 3: Name column split into First Name and Last Name.

In [15]:
employee_df = pd.read_csv('employee.csv')

# Split the name column 
employee_df[['First Name', 'Last Name']] = employee_df['Name'].str.split(' ', n=1, expand=True)

# Drop the original name column 
employee_df.drop('Name', axis=1, inplace=True)

# Save the updated dataframe 
employee_df.to_csv('employee.csv', index=False)

# print the updated dataframe
print("Updated Employee DataFrame:")
print(employee_df)

print("Name column split into First Name and Last Name.")

Updated Employee DataFrame:
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom       None
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny
Name column split into First Name and Last Name.

In [ ]:
#Task 4: join all three dataFrames

In [17]:
project_df = pd.read_csv('project.csv')
employee_df = pd.read_csv('employee.csv')
seniority_df = pd.read_csv('seniority.csv')

# Join dataframes 
final_df = project_df.merge(employee_df, on='ID', how='left')
final_df = final_df.merge(seniority_df, on='ID', how='left')

# Save the final dataframe 
final_df.to_csv('final.csv', index=False)

# Print the joined dataframe 
print("Joined DataFrame:")
print(final_df)

print("DataFrames joined successfully.")

Joined DataFrame:
      ID     Project     Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000  Finished      M    Paris   25       John
1   A002   Project 2  2000000   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000   Ongoing      F  Newyork   31       Nina
4   A005   Project 5   680000  Finished      F   Madrid   30        Amy
5   A002   Project 6   400000    Failed      F   London   27      Alice
6   A005   Project 7   350000  Finished      F   Madrid   30        Amy
7   A003   Project 8   300000    Failed      M   Berlin   29        Tom
8   A001   Project 9  2000000   Ongoing      M    Paris   25       John
9   A003  Project 10  1000000  Finished      M   Berlin   29        Tom
10  A001  Project 11  3000000    Failed      M    Paris   25       John
11  A004  Project 12  2000000   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  2000000  Finished      F  Newyork   31       Nina
13  A005  Project 14  3000000  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2         NaN                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7         NaN                  3
8       Alter                  2
9         NaN                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3
DataFrames joined successfully.

In [ ]:
#Task 5: bonous column added to the dataframe

In [19]:
final_df = pd.read_csv('final.csv')

# Add Bonus column 
final_df['Bonus'] = final_df.apply(lambda x: x['Cost'] * 0.05 if x['Status'] == 'Finished' else 0, axis=1)

# Save the updated dataframe 
final_df.to_csv('final.csv', index=False)

# Print the dataframes with the added bonus column
print("DataFrame with Bonus column:")
print(final_df)

print("Bonus column added to the DataFrame.")

DataFrame with Bonus column:
      ID     Project     Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000  Finished      M    Paris   25       John
1   A002   Project 2  2000000   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000   Ongoing      F  Newyork   31       Nina
4   A005   Project 5   680000  Finished      F   Madrid   30        Amy
5   A002   Project 6   400000    Failed      F   London   27      Alice
6   A005   Project 7   350000  Finished      F   Madrid   30        Amy
7   A003   Project 8   300000    Failed      M   Berlin   29        Tom
8   A001   Project 9  2000000   Ongoing      M    Paris   25       John
9   A003  Project 10  1000000  Finished      M   Berlin   29        Tom
10  A001  Project 11  3000000    Failed      M    Paris   25       John
11  A004  Project 12  2000000   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  2000000  Finished      F  Newyork   31       Nina
13  A005  Project 14  3000000  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2         NaN                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3   34000.0
5   Luxumberg                  2       0.0
6       Johny                  3   17500.0
7         NaN                  3       0.0
8       Alter                  2       0.0
9         NaN                  3   50000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  100000.0
13      Johny                  3  150000.0
Bonus column added to the DataFrame.

In [ ]:
#Task 6: Demote designation levels for Failed projects and delete invalid records

In [21]:
final_df = pd.read_csv('final.csv')

# Demote employess with failed projects 
final_df.loc[final_df['Status'] == 'Failed', 'Designation Level'] -= 1

# Delete employees with designation level above 4 
final_df = final_df[final_df['Designation Level'] <= 4]

# Save the updated dataframes 
final_df.to_csv('final.csv', index=False)

# Print the updated dataframes 
print("Updated DataFrame after demotion and deletion:")
print(final_df)

print("Employees demoted and deleted as per the conditions.")

Updated DataFrame after demotion and deletion:
      ID     Project     Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000  Finished      M    Paris   25       John
1   A002   Project 2  2000000   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000   Ongoing      F  Newyork   31       Nina
4   A005   Project 5   680000  Finished      F   Madrid   30        Amy
5   A002   Project 6   400000    Failed      F   London   27      Alice
6   A005   Project 7   350000  Finished      F   Madrid   30        Amy
7   A003   Project 8   300000    Failed      M   Berlin   29        Tom
8   A001   Project 9  2000000   Ongoing      M    Paris   25       John
9   A003  Project 10  1000000  Finished      M   Berlin   29        Tom
10  A001  Project 11  3000000    Failed      M    Paris   25       John
11  A004  Project 12  2000000   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  2000000  Finished      F  Newyork   31       Nina
13  A005  Project 14  3000000  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2         NaN                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3   34000.0
5   Luxumberg                  1       0.0
6       Johny                  3   17500.0
7         NaN                  2       0.0
8       Alter                  2       0.0
9         NaN                  3   50000.0
10      Alter                  1       0.0
11      Adgra                  2       0.0
12      Adgra                  2  100000.0
13      Johny                  3  150000.0
Employees demoted and deleted as per the conditions.

In [ ]:
#task 7: Add titles to the first time column and drop the gender column

In [23]:
final_df = pd.read_csv('final.csv')

# Add titles based on gender 
final_df['First Name'] = final_df.apply(lambda x: 'Mr. ' + x['First Name'] if x['Gender'] == 'M' else 'Mrs. ' + x['First Name'], axis=1)

# Drop the gender column 
final_df.drop('Gender', axis=1, inplace=True)

# Save the updated dataframes 
final_df.to_csv('final.csv', index=False)

# Print the updated dataframes 
print("Updated DataFrame after adding titles and dropping Gender:")
print(final_df)

print("Titles added and Gender column dropped.")

Updated DataFrame after adding titles and dropping Gender:
      ID     Project     Cost    Status     City  Age  First Name  Last Name  \
0   A001   Project 1  1002000  Finished    Paris   25    Mr. John      Alter
1   A002   Project 2  2000000   Ongoing   London   27  Mrs. Alice  Luxumberg
2   A003   Project 3  4500000  Finished   Berlin   29     Mr. Tom        NaN
3   A004   Project 4  5500000   Ongoing  Newyork   31   Mrs. Nina      Adgra
4   A005   Project 5   680000  Finished   Madrid   30    Mrs. Amy      Johny
5   A002   Project 6   400000    Failed   London   27  Mrs. Alice  Luxumberg
6   A005   Project 7   350000  Finished   Madrid   30    Mrs. Amy      Johny
7   A003   Project 8   300000    Failed   Berlin   29     Mr. Tom        NaN
8   A001   Project 9  2000000   Ongoing    Paris   25    Mr. John      Alter
9   A003  Project 10  1000000  Finished   Berlin   29     Mr. Tom        NaN
10  A001  Project 11  3000000    Failed    Paris   25    Mr. John      Alter
11  A004  Project 12  2000000   Ongoing  Newyork   31   Mrs. Nina      Adgra
12  A004  Project 13  2000000  Finished  Newyork   31   Mrs. Nina      Adgra
13  A005  Project 14  3000000  Finished   Madrid   30    Mrs. Amy      Johny

    Designation Level     Bonus
0                   2   50100.0
1                   2       0.0
2                   3  225000.0
3                   2       0.0
4                   3   34000.0
5                   1       0.0
6                   3   17500.0
7                   2       0.0
8                   2       0.0
9                   3   50000.0
10                  1       0.0
11                  2       0.0
12                  2  100000.0
13                  3  150000.0
Titles added and Gender column dropped.

In [ ]:
#Task 8: Promte designation levels for employees older than 29 years

In [25]:
final_df = pd.read_csv('final.csv')

# Promte employees older than 29
final_df['Designation Level'] = final_df.apply(lambda x: x['Designation Level'] + 1 if x['Age'] > 29 else x['Designation Level'], axis=1)

# Save the updated dataframes 
final_df.to_csv('final.csv', index=False)

# Print the updated dataframes 
print("Updated DataFrame after promoting employees:")
print(final_df)

print("Employees older than 29 promoted.")

Updated DataFrame after promoting employees:
      ID     Project     Cost    Status     City  Age  First Name  Last Name  \
0   A001   Project 1  1002000  Finished    Paris   25    Mr. John      Alter
1   A002   Project 2  2000000   Ongoing   London   27  Mrs. Alice  Luxumberg
2   A003   Project 3  4500000  Finished   Berlin   29     Mr. Tom        NaN
3   A004   Project 4  5500000   Ongoing  Newyork   31   Mrs. Nina      Adgra
4   A005   Project 5   680000  Finished   Madrid   30    Mrs. Amy      Johny
5   A002   Project 6   400000    Failed   London   27  Mrs. Alice  Luxumberg
6   A005   Project 7   350000  Finished   Madrid   30    Mrs. Amy      Johny
7   A003   Project 8   300000    Failed   Berlin   29     Mr. Tom        NaN
8   A001   Project 9  2000000   Ongoing    Paris   25    Mr. John      Alter
9   A003  Project 10  1000000  Finished   Berlin   29     Mr. Tom        NaN
10  A001  Project 11  3000000    Failed    Paris   25    Mr. John      Alter
11  A004  Project 12  2000000   Ongoing  Newyork   31   Mrs. Nina      Adgra
12  A004  Project 13  2000000  Finished  Newyork   31   Mrs. Nina      Adgra
13  A005  Project 14  3000000  Finished   Madrid   30    Mrs. Amy      Johny

    Designation Level     Bonus
0                   2   50100.0
1                   2       0.0
2                   3  225000.0
3                   3       0.0
4                   4   34000.0
5                   1       0.0
6                   4   17500.0
7                   2       0.0
8                   2       0.0
9                   3   50000.0
10                  1       0.0
11                  3       0.0
12                  3  100000.0
13                  4  150000.0
Employees older than 29 promoted.

In [ ]:
#Task 9: Calculate the total project cost for each employee

In [27]:
final_df = pd.read_csv('final.csv')

# Calculated total project cost per employee
total_proj_cost = final_df.groupby(['ID', 'First Name'])['Cost'].sum().reset_index()

# Save the new dataframes 
total_proj_cost.to_csv('total_proj_cost.csv', index=False)

# Print the total project cost per employee 
print("Total Project Cost per Employee:")
print(total_proj_cost)

print("Total project cost per employee calculated and saved.")

Total Project Cost per Employee:
     ID  First Name     Cost
0  A001    Mr. John  6002000
1  A002  Mrs. Alice  2400000
2  A003     Mr. Tom  5800000
3  A004   Mrs. Nina  9500000
4  A005    Mrs. Amy  4030000
Total project cost per employee calculated and saved.

In [ ]:
#Task 10: Print details of employees whose city contains the letter "0"

In [29]:
final_df = pd.read_csv('final.csv')

# Filter employee with city containing "0" 
employee_details = final_df[final_df['City'].str.contains('o')]

# Print the filtered dataframes 
print(employee_details)

print("Employee details with city containing 'o' printed.")

      ID     Project     Cost    Status     City  Age  First Name  Last Name  \
1   A002   Project 2  2000000   Ongoing   London   27  Mrs. Alice  Luxumberg
3   A004   Project 4  5500000   Ongoing  Newyork   31   Mrs. Nina      Adgra
5   A002   Project 6   400000    Failed   London   27  Mrs. Alice  Luxumberg
11  A004  Project 12  2000000   Ongoing  Newyork   31   Mrs. Nina      Adgra
12  A004  Project 13  2000000  Finished  Newyork   31   Mrs. Nina      Adgra

    Designation Level     Bonus
1                   2       0.0
3                   3       0.0
5                   1       0.0
11                  3       0.0
12                  3  100000.0
Employee details with city containing 'o' printed.

In [31]:
final_df.to_csv('final_all_tasks.csv' , index=False)